body{
    background-image: url(../images/cover2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 18px;
    /* overflow: hidden; */
    overflow-x: hidden;
}
img{
    border-radius: 100px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 1%;
    margin-bottom: 3%;
}
